$heading: "Source Sans Pro", sans-serif;
$header-color: #e5e5e5;
$main-tx-color: #000;
$secondary-tx-color: #463f3f;
$btn-color: #f9c92c;
$hover-btn-color: #fcd65c;
$active-btn-color: #fdc302;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $header-color;
  font-family: $heading;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px 0 25px;

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  &__item {
    margin-left: 25px;
    a {
      color: black;
      text-decoration: none;
    }
  }
  &__number {
    display: flex;
    &__text {
      margin-left: 5px;
    }
  }
  &__social {
    &__link {
      margin: 18px;
      text-decoration: none;
    }
  }
}

.hero {
  background-color: $header-color;
  display: flex;
  font-family: $heading;
  padding: 0 0 118px 0;
  &__article {
    margin: auto;
    width: 552px;
    &__title {
      margin-bottom: 6px;
      font-size: 76px;
      font-weight: 600;
      line-height: 85px;
      letter-spacing: 0.02em;
    }
    &__paragraph {
      font-size: 20px;
      color: $secondary-tx-color;
      line-height: 25px;
      margin-bottom: 40px;
    }
    .booking__btn {
      background-color: $btn-color;
      width: 301px;
      height: 49px;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $hover-btn-color;
        transition: 0.25s;
      }

      &:active {
        background-color: $active-btn-color;
      }
    }
    &__char {
      display: flex;
      .character {
        margin-right: 18px;
        .char__title {
          font-weight: 600;
          font-size: 40px;
          line-height: 85px;
        }
        .char_desc {
          margin: auto;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  &__image {
    width: 279px;
    height: 562px;
    background-image: url(./public/hero_img_1.png);
    margin-right: 59px;
    background-size: cover;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    width: 550px;
    margin-right: 240px;
    &__title {
      font-weight: 600;
      font-size: 76px;
      line-height: 85px;
    }
    &__desc {
      color: $secondary-tx-color;
      font-size: 20px;
      line-height: 25px;
    }
  }
  &__image {
    width: 540px;
    height: 545px;
    background-image: url(/public/about_img.png);
    background-size: cover;
  }
}
